{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center margin-top">{{tarea.title}}</h1>

        
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary btn-custom">actualizar</button>
            </form>
            <div class="d-flex mt-3">
                <form action="{% url 'completa_tarea' tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary " type="submit">Completada Tarea</button>
                </form>
                
                <form action="{% url 'eliminar_tarea' tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </div>
           
        </div>
        </div>
    </div>
</main>
{% endblock %}